.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

#landing-page {
    height: calc(100vh-30px); 
    width: 100vw; 
}

#titleRectangle {
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#title {
    padding-top: 35vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:calc(50px + 6vw);
    font-weight: 400;
}

#slogan {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size:calc(18px + 1vw);
    font-weight: 200;
    bottom: 50px;
}

#riverVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
      

.title {
    padding-top: 10vh;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;

}

a {
    color: black;
}

#poseidon {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/poseidon.jpg");
    background-size: cover;
    height: 500px;
    color: white;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.support-logo {
    width: 100%;
}

#team-photo {
    width:100%;
}