$footer-color: #3E4366;
$darker-color: rgb(40, 50, 78);
$bright-color: #f3c649;
$light-color: white;
$link-color: #41BAFF;

a {
    text-decoration: none;
    color: $link-color;
}

p {
    font-size: 0.75rem;
    font-family: 'Ubuntu', sans-serif;;
}

h5 {
    font-size: 1rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: $bright-color;
}

h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

a:hover {
    text-decoration: none;
    color: $light-color;
}

#landing-page {
    background-image: url(../images/flood-video.gif);
    background-attachment: fixed;
}

#landing-page-table {
    height: 100vh; 
    width: 100vw; 
    background-color: rgba(40, 50, 78, 0.5);
}

#title {
    color: $light-color;
}

h1 {
    font-size: 4rem;
}

#subtitle {
    font-size: 1.1rem;
}

#aquahacking-page {
    background-color: $darker-color;
    a {
        color: $bright-color
    } 
    a:hover {
        color: $light-color
    }
}

#project-page {
    background-color: $footer-color;
}

#team-page {
    background-color: $darker-color;
    color: $light-color;
}

.team-media {
    font-size: 2rem;
}

#contact-page {
    background-color: $footer-color;
    color: $light-color;
}

.social-media {
    margin: 5px;
    font-size: 4rem;
}