$title-color: rgba(20, 104, 41, 0.856);
$darker-color: #0A5926;
$bright-color: white;
$light-color: white;
$link-color: #91E9F2;
$lighter-color: #BFB3A4;

html {
    scroll-behavior: smooth;
}

body {
    background: url(../images/flood-video.gif), no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: $link-color;
}

p {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}

h5 {
    font-size: 1.5rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: $bright-color;
    font-weight: bold;
}

h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
    color: $light-color;
}

hr {
    margin: 0 0 0 0;
    border-color: $darker-color;
    border-style: solid ;
    border-width: 3px;
}

#landing-page-table {
    height: 100vh; 
    width: 100vw; 
    background-color: rgba(0, 0, 0, 0.3);
}

#arrow {
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 90%;
    color: rgba(255,255,255, 0);
    margin: 0;
    padding: 0;

    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: fadeInOut;
  }

@keyframes fadeInOut {
    from {
        color: rgba(255, 255, 255, 0);
    }

    50% {
        color: rgba(255,255,255, 1);
    }

    to {
        color: rgba(255,255,255, 0);
    }
}

.content {
    background-color: $light-color;
}

#title {
    color: $light-color;
}

h1 {
    font-size: 7rem;
    text-decoration: underline;
}

#subtitle {
    font-size: 1.6rem;
}

#aquahacking-page {
    background-color: $title-color;
    a {
        color: $bright-color
    } 
    a:hover {
        color: $light-color
    }
}

#project-page {
    background-color: $title-color;
}

#team-page {
    background-color: $title-color;
    color: $light-color;
}

.team-media {
    font-size: 1.5rem;
}

#contact-page {
    background-color: $title-color;
    color: $light-color;
}

.social-media {
    margin: 5px;
    font-size: 1rem;
}